In [1]:
%load_ext autoreload
%autoreload 2

# Import libraries

In [2]:
import os
import numpy as np
import pandas as pd
# import polars as pl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm, laplace, gmean
from tqdm.notebook import tqdm
from scipy.stats import gaussian_kde

In [4]:
asset_list = [
    "DBA",
    "DBB",
    "GLD",
    "USO",
    "URA",
]

from scripts.update_data import update_daily_price_data_yahoo

price_data = dict()
for ticker in asset_list:
    update_daily_price_data_yahoo(ticker)
    price_data[ticker] = pd.read_pickle(f'./data/daily_price/yahoo_finance/{ticker}.pkl')
    print(ticker)
    display(price_data[ticker])

DBA

                 open       high        low      close  adj_close  volume
datetime
2007-01-05  24.930000  25.049999  24.850000  25.020000  21.559397   27800
2007-01-08  25.940001  25.940001  24.840000  24.980000  21.524927  143600
2007-01-09  24.799999  24.820000  24.600000  24.660000  21.249187  136700
2007-01-10  24.700001  24.820000  24.500000  24.730000  21.309504   76600
2007-01-11  24.900000  25.129999  24.799999  25.100000  21.628328  159600
...               ...        ...        ...        ...        ...     ...
2025-01-03  26.430000  26.520000  26.290001  26.490000  26.490000  998700
2025-01-06  26.670000  26.809999  26.389999  26.430000  26.430000  587100
2025-01-07  26.480000  26.559999  26.430000  26.500000  26.500000  374300
2025-01-08  26.200001  26.400000  26.000000  26.360001  26.360001  469900
2025-01-10  26.270000  26.450001  26.270000  26.450001  26.450001  325900

[4534 rows x 6 columns]

DBB

                 open       high        low      close  adj_close  volume
datetime
2007-01-05  24.100000  24.100000  23.299999  23.709999  18.858978  184600
2007-01-08  34.110001  34.110001  23.389999  23.389999  18.604450   10200
2007-01-09  22.900000  23.389999  22.900000  23.270000  18.509005    4700
2007-01-10  23.549999  24.219999  23.549999  24.219999  19.264635   10900
2007-01-11  24.049999  24.850000  24.049999  24.540001  19.519165  116100
...               ...        ...        ...        ...        ...     ...
2025-01-03  18.530001  18.580000  18.520000  18.549999  18.549999   37800
2025-01-06  18.639999  18.730000  18.570000  18.570000  18.570000  195800
2025-01-07  18.670000  18.700001  18.610001  18.660000  18.660000  220200
2025-01-08  18.480000  18.620001  18.480000  18.620001  18.620001   29500
2025-01-10  20.730000  20.730000  18.770000  18.799999  18.799999   56500

[4534 rows x 6 columns]

GLD

,open,high,low,close,adj_close,volume
datetime,,,,,,
2004-11-18,44.430000,44.490002,44.070000,44.380001,44.380001,5992000
2004-11-19,44.490002,44.919998,44.470001,44.779999,44.779999,11655300
2004-11-22,44.750000,44.970001,44.740002,44.950001,44.950001,11996000
2004-11-23,44.880001,44.919998,44.720001,44.750000,44.750000,3169200
2004-11-24,44.930000,45.049999,44.790001,45.049999,45.049999,6105100
...,...,...,...,...,...,...
2025-01-03,244.559998,244.820007,243.360001,243.490005,243.490005,4872100
2025-01-06,242.330002,243.789993,242.050003,243.190002,243.190002,3758900
2025-01-07,245.520004,245.770004,243.809998,244.559998,244.559998,5090300
2025-01-08,245.720001,246.449997,244.509995,245.860001,245.860001,6303300
2025-01-10,248.009995,249.039993,247.550003,248.210007,248.210007,12376800

USO

,open,high,low,close,adj_close,volume
datetime,,,,,,
2006-04-10,546.000000,548.000000,541.359985,544.159973,544.159973,484738
2006-04-11,546.559998,547.119995,538.400024,545.599976,545.599976,162138
2006-04-12,545.760010,550.479980,542.479980,542.719971,542.719971,156038
2006-04-13,540.000000,551.919983,539.200012,550.559998,550.559998,70088
2006-04-17,553.599976,559.200012,549.440002,558.320007,558.320007,114713
...,...,...,...,...,...,...
2025-01-03,77.410004,78.220001,77.260002,77.919998,77.919998,1875300
2025-01-06,78.430000,78.900002,77.059998,77.300003,77.300003,2141800
2025-01-07,78.129997,78.440002,77.699997,78.169998,78.169998,3912400
2025-01-08,78.349998,78.459999,77.059998,77.300003,77.300003,3259100
2025-01-10,81.540001,81.820000,79.370003,80.639999,80.639999,5047900

URA

                  open        high         low       close  adj_close   volume
datetime
2010-11-05  103.440002  103.440002   99.480003  103.260002  69.925407    48233
2010-11-08  104.699997  114.779999  103.919998  114.779999  77.726486   255017
2010-11-09  116.160004  119.519997  109.800003  111.000000  75.166748   334967
2010-11-10  111.959999  113.099998  108.000000  112.739998  76.345047   121967
2010-11-11  114.000000  114.120003  111.120003  113.699997  76.995140   111767
...                ...         ...         ...         ...        ...      ...
2025-01-03   28.480000   28.900000   28.110001   28.840000  28.840000  3251000
2025-01-06   29.120001   30.049999   29.120001   29.280001  29.280001  2744300
2025-01-07   29.610001   29.670000   28.080000   28.209999  28.209999  2928100
2025-01-08   28.000000   28.040001   27.180000   27.840000  27.840000  2618400
2025-01-10   27.730000   27.750000   27.080000   27.170000  27.170000  1816200

[3567 rows x 6 columns]

In [14]:
from scripts.trend_strategy import backtest_trend_strategy


equal_weights = dict()
for ticker in asset_list:
    equal_weights[ticker] = 0.20

pf, metrics = backtest_trend_strategy(
    tickers=list(price_data.keys()),
    dataframes=price_data,
    rebalance_days=252,
    weights=equal_weights,
    initial_capital=1000000,
    plot=False,
)

metrics

<backtrader.feeds.pandafeed.PandasData object at 0x00000217F5709990>

NameError: name 'fast_period' is not defined