In [2]:
import numpy as np
import pandas as pd
import strategy_testing as st
import misc

df = pd.read_csv('stock_price_data/SPY.csv')
df = misc.clean_df(df)
df

,date,open,high,low,close,adjclose,volume,ticker
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,25.218227,1003200,SPY
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,25.397591,480500,SPY
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,25.451382,201300,SPY
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,25.720436,529400,SPY
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,25.828062,531500,SPY
...,...,...,...,...,...,...,...,...
7577,2023-03-03,399.709991,404.450012,399.029999,404.190002,404.190002,90038300,SPY
7578,2023-03-06,405.049988,407.450012,404.010010,404.470001,404.470001,72795900,SPY
7579,2023-03-07,404.420013,404.670013,397.630005,398.269989,398.269989,108310600,SPY
7580,2023-03-08,398.390015,399.709991,396.589996,398.920013,398.920013,74746600,SPY
7581,2023-03-09,399.739990,401.480011,390.529999,391.559998,391.559998,111556600,SPY

In [11]:
def buy_hold_strategy(ohlcv, initial_capital):
    '''
    Takes a dataframe of OHLCV data and returns a list of trades to be performed.

    Trades in the format:
    entry_date | entry_price | position | exit_date | exit_price | profit 
    '''

    trade_list = [(ohlcv['date'][0].date(), 
                   ohlcv['adjclose'][0], 
                   initial_capital // ohlcv['adjclose'][0],
                   ohlcv['date'].iat[-1].date(),
                   ohlcv['adjclose'].iat[-1],
                   (ohlcv['adjclose'].iat[-1] - ohlcv['adjclose'][0]) * initial_capital // ohlcv['adjclose'][0])]
    return trade_list


print(buy_hold_strategy(df, 1E6))

[(datetime.date(1993, 1, 29), 25.21822738647461, 39653.0, datetime.date(2023, 3, 9), 391.55999755859375, 14526864.0)]